.component-container {
  display: flex;/*flex-boxを有効化*/
  flex-direction: column;/*縦方向に並べる*/
  justify-content: center;/*縦方向の中央揃え*/
  align-items: center;/*横方向の中央揃え*/
  text-align: center;
  margin: auto;
  min-height: 100vh;/*ページ中央に寄せる*/
}

.message {
  margin: 10px auto;
  font-size: 64px;
}

@media (max-width: 1024px) {

  /* media.lg */
  .message {
    font-size: 36px;
  }
}

@media (max-width: 768px) {

  /* media.md */
  .message {
    font-size: 26px;
  }
}

 /* アイコン画像を丸くする*/
  .portfolioImg {
    width: 120px;
    /* アイコンの幅 */
    height: 120px;
    /* アイコンの高さ */
    object-fit: cover;
    /* 画像の比率を維持しつつ中央を表示 */
    border-radius: 50%;
    /* 丸くする */
    display: block;
    margin: 0 auto 20px auto;
    /* 中央寄せと下マージン */
  }